// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  background-image: url("https://res.cloudinary.com/dk1w7z3og/image/upload/v1534524093/uphtol3jrvh6kqhl8z2f.jpg");
  background-size: cover;
}

h1 {
  color: white;
}
